{% extends "base.html" %}

{% block head_title %}OCR ||{{ block.super }} {% endblock head_title %}


{% block content %}


<main class="main" role="main">
    <div class="py-5 bg-white">
      <div class="container">
        <div class="row">

          <div class="col-md-8 mx-auto">
            <article class="mb-4">
              <h1 class="h2 text-center">OCR</h1>

              <form method="post" id="post-form" enctype="multipart/form-data">
                  {% csrf_token %}

                  {% include 'bs4_form.html' with form=form %}

                  <button type="submit" class="save btn btn-default" id="id_submit">Submit</button>
              </form>

              <!--<hr class="my-5" />-->

            </article>

          </div>

        </div>
      </div>
    </div>
</main>

{% endblock content %}